<div class="block p-6 bg-white rounded-lg shadow-md hover:bg-slate-50 dark:border-gray-700 dark:hover:bg-slate-50 article">
  <div class="article__icon">
    <fa-icon [icon]="getIcon()" class="fa-3x"></fa-icon>
  </div>
  <div class="flex-1 article__content">
    <p class="text-lg font-semibold article__header text-secondary">{{ title }}</p>
    <p class="text-primary">
      <fa-icon [icon]="getStatusIcon()"
               class="article__content__status-icon"
               [class.article__content__status-icon--done]="status === 'done'"
               [class.article__content__status-icon--canceled]="status === 'canceled'"></fa-icon>
      {{ content }}
    </p>
  </div>
</div>
