<div class="header">
  <app-header></app-header>
</div>
<div class="constrainer">
  <h1 class="path-category-title">{{ category | uppercase }} PATHS</h1>
  <app-link-card *ngFor="let path of getPathWithCategory()"
                 [title]="path.title"
                 [descriptionOne]="'Reward: ' + path.rewardEnvironmentalCoins + ' Environmental Coins'"
                 [descriptionTwo]="'Duration: ' + path.duration"
                 [routerLink]="'/paths/detail/' + path.uid"></app-link-card>
</div>
