<div class="interests constrainer">
  <div class="interests__image-container">
    <img src="../../../assets/images/blog_post.svg" alt="Interests illustration" class="interests__image-container__title-image">
  </div>
  <h2 class="interests__page-title">INTERESTS</h2>
  <p>We want to show you content that interests you. Choose some categories. Please note that you can skip this step.</p>

  <h3 class="interests__subtitle">CATEGORIES</h3>
  <form>
    <label class="cursor-pointer label interests__label">
      <input type="checkbox" class="checkbox checkbox-accent" (change)="addTag($event.target, 'saveWater')"/>
      <span class="label-text interests__label__span">Save water</span>
    </label>
    <label class="cursor-pointer label interests__label">
      <input type="checkbox" class="checkbox checkbox-accent" (change)="addTag($event.target, 'saveElectricity')"/>
      <span class="label-text interests__label__span">Save electricity</span>
    </label>
    <label class="cursor-pointer label interests__label">
      <input type="checkbox" class="checkbox checkbox-accent" (change)="addTag($event.target, 'sustainableMobility')"/>
      <span class="label-text interests__label__span">Sustainable mobility</span>
    </label>
    <label class="cursor-pointer label interests__label">
      <input type="checkbox" class="checkbox checkbox-accent" (change)="addTag($event.target, 'trashRecycling')"/>
      <span class="label-text interests__label__span">Trash & recycling</span>
    </label>
    <label class="cursor-pointer label interests__label">
      <input type="checkbox" class="checkbox checkbox-accent" (change)="addTag($event.target, 'sensiblePurchasing')"/>
      <span class="label-text interests__label__span">Sensible purchasing</span>
    </label>
    <button class="btn btn-primary interests__button" type="button" (click)="emitInterests()">{{ getButtonLabel() }}</button>
  </form>
</div>
