<div class="header">
  <app-header></app-header>
</div>
<div class="constrainer" *ngIf="currentUser">
  <h1 class="welcome">HELLO {{ currentUser.displayName }}</h1>
  <p class="welcome-description">This is your overview page check out the newest articles. </p>

  <ng-template [ngIf]="getCurrentPath() !== undefined">
    <h2 class="articles-title">CURRENT PATH</h2>
    <p class="current-path-subtitle"><strong>Path:</strong> {{ getCurrentPath()?.title }}</p>
    <app-timeline [finishedTasks]="getFinishedPathTasks()" [unfinishedTasks]="getUnfinishedPathTasks()"></app-timeline>
  </ng-template>

  <ng-template [ngIf]="getNewestTwoArticles().length > 0">
    <h2 class="articles-title">NEWEST ARTICLES</h2>
    <app-article-card
      *ngFor="let article of getNewestTwoArticles()"
      [icon]="article.category === undefined ? 'electricity' : article.category"
      [title]="article.title"
      [content]="shortenTo200Chars(article.textParts[0])"
    ></app-article-card>
  </ng-template>


  <h2 class="articles-title">PAST PATHS</h2>
  <div *ngIf="userdata?.finishedPaths">
    <app-past-path-card
      *ngFor="let finishedPathId of userdata?.finishedPaths | keyvalue"
      [icon]="getFinishedPathById(finishedPathId.key)?.category"
      [title]="getFinishedPathById(finishedPathId.key)?.title"
      [content]="finishedPathId.value ? 'Finished' : 'Discontinued'"
      [status]="finishedPathId.value ? 'done' : 'canceled'"
    ></app-past-path-card>
  </div>
</div>
