<div class="header">
  <app-header></app-header>
</div>
<div class="constrainer" *ngIf="currentUser">
  <h1 class="welcome">HELLO {{ currentUser.displayName }}</h1>
  <p class="welcome-description">This is your overview page check out the newest articles. </p>

  <ng-template [ngIf]="getCurrentPath() !== undefined">
    <h2 class="articles-title">CURRENT PATH</h2>
    <p class="current-path-subtitle"><strong>Path:</strong> {{ getCurrentPath()?.title }}</p>
    <app-timeline [finishedTasks]="getFinishedPathTasks()" [unfinishedTasks]="getUnfinishedPathTasks()"></app-timeline>
  </ng-template>

  <h2 class="articles-title">NEWEST ARTICLES</h2>
  <app-article-card
    icon="electricity"
    title="Do this to minimize electricity"
    content="This is some random preview text click card if you want to read more."
  ></app-article-card>
  <app-article-card
    icon="water"
    title="Save water by not showering"
    content="This is some random preview text click card if you want to read more."
  ></app-article-card>

  <h2 class="articles-title">PAST PATHS</h2>
  <app-past-path-card
    icon="water"
    title="Path: Use devices in a water-saving way"
    content="Discontinued"
    status="canceled"
  ></app-past-path-card>

  <app-past-path-card
    icon="electricity"
    title="Path: Energy efficient devices"
    content="Finished"
    status="done"
  ></app-past-path-card>
</div>
