.welcome {
  font-size: 24px;
  font-weight: 700;
  color: #22577A;
  margin-top: 20px;
  text-transform: uppercase;

  &-description {
    font-weight: 400;
    font-size: 16px;
  }
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.articles-title {
  margin-top: 32px;
  font-size: 20px;
  font-weight: 700;
  color: #22577A;
  text-transform: uppercase;
  margin-bottom: 8px;
}

.current-path-subtitle {
  margin-bottom: 10px;
}
