<div class="header">
  <app-header></app-header>
</div>
<div class="constrainer">
  <h1 class="article-title">READ SOME ARTICLES</h1>
  <p class="article-description">This is your overview page check out the newest articles.</p>
  <h2 class="article-second-title">CATEGORIES</h2>
  <div class="article-category-grid">
    <app-category-tile icon="water" description="Save water"></app-category-tile>
    <app-category-tile icon="electricity" description="Save electricity"></app-category-tile>
    <app-category-tile icon="mobility" description="Sustainable mobility"></app-category-tile>
    <app-category-tile icon="electricity" description="Trash & Recycling"></app-category-tile>
    <app-category-tile icon="purchasing" description="Sensible purchasing"></app-category-tile>
  </div>
</div>
