<div class="register">
  <img src="assets/images/secure_login.svg" alt="Registration illustration" class="register__title-image">
  <h2 class="register__page-title">REGISTER</h2>

  <form>
    <input type="text" placeholder="Username" class="input input-bordered w-full max-w-md register__input" />
    <input type="email" placeholder="Email" class="input input-bordered w-full max-w-md register__input" />
    <input type="password" placeholder="Password" class="input input-bordered w-full max-w-md register__input--double" />
    <input type="password" placeholder="Repeat password" class="input input-bordered w-full max-w-md register__input" />
    <button class="btn btn-primary register__button" type="button">REGISTER</button>
  </form>

  <a class="link link-accent register__link-already-registered" [routerLink]="['/login']">I'm already registered. Sign in</a>
</div>
