<div class="register">
  <img src="assets/images/secure_login.svg" alt="Registration illustration" class="register__title-image">
  <h2 class="register__page-title">REGISTER NOW</h2>

  <form>
    <input type="text" placeholder="Username" class="input input-bordered w-full max-w-md" />
    <input type="text" placeholder="E-Mail" class="input input-bordered w-full max-w-md" />

    <input type="text" placeholder="E-Mail" class="input input-bordered w-full max-w-md mt-6" />
    <input type="text" placeholder="E-Mail" class="input input-bordered w-full max-w-md" />
    <button class="btn btn-primary">Button</button>
  </form>
</div>
