<div class="navbar bg-primary rounded-xl text-white">
  <div class="dropdown">
    <label tabindex="0" class="btn btn-ghost btn-circle" (click)="changevalue()">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
    </label>
    <ul *ngIf="isOpen" tabindex="0" class="menu menu-compact dropdown-content mt-3 p-2 shadow bg-base-100 rounded-box w-52 text-black">
      <li><a [routerLink]="['/overview']">Overview</a></li>
      <li><a [routerLink]="['/my-forest']">MyForest</a></li>
      <li><a [routerLink]="['/articles']">Articles</a></li>
      <li><a [routerLink]="['/paths']">Paths</a></li>
      <li>
        <a (click)="logout()"><fa-icon [icon]="logoutIcon"></fa-icon>Logout</a>
      </li>
    </ul>
  </div>
  <div class="flex-1">
    <a class="btn btn-ghost normal-case text-xl" routerLink="/overview">Aquatricity</a>
  </div>
  <div class="badge badge-lg" *ngIf="environmentalCoins">
    <fa-icon [icon]="coinFront"></fa-icon>
    <p class="badge-coins">{{ this.environmentalCoins }}</p>
  </div>
</div>
