<swiper class="mySwiper" [pagination]="true">
  <ng-template swiperSlide>
    <img class="slider-image" src="../../../assets/images/nature_image.svg" alt="Nature">
    <div class="slider-text">
      <h1 class="title">WELCOME TO AQUATRICITY</h1>
      <p class="text">
        Thank you for checking out our app.<br /><br />

        The goal of this app is to inform you about sustainable behaviour and to give you easy to achieve tips and
        tricks to save energy, water and other valuable resources.<br /> <br />
        We are sure you will find something interesting and new for you in our app. Happy exploring!
      </p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="slider-image" src="../../../assets/images/nature_image.svg" alt="Nature">
    <div class="slider-text">
      <h1 class="title">WHAT ARE WE ABOUT</h1>
      <p class="text">
        The Aquatricity app was created at HackZurich 2022. So right now the features are limited, but the sky is the limit. <br /> <br />

        Our goal is to adapt Neil Amstrong's "one small step for a man - one giant leap for mankind" to the future of sustainability.
        Each and everyone can contribute to a better future - especially in times of crisis like we are facing now. <br /> <br />
        We want to move as many people as possible a step into the direction of environmental responsibility and sensible consumption to achieve a big change.</p>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <img class="slider-image" src="../../../assets/images/nature_image.svg" alt="Nature">
    <div class="slider-text">
      <h1 class="title">WANT TO JOIN?</h1>
      <p class="text">
        If you want to join our mission to lower the unneeded consumption of energy, water and all other resources keep going and create an accout! <br /> <br />
        Together we can achieve great things!
      </p>
      <div class="link-wrapper">
        <a class="link link-secondary" href="/register"><fa-icon [icon]="faArrowRight" class="login__link-not-registered__icon"></fa-icon>Register now</a>
        <a class="link link-secondary" href="/login"><fa-icon [icon]="faArrowRight" class="login__link-not-registered__icon"></fa-icon>Log in</a>
      </div>
    </div>
  </ng-template>
</swiper>
