<div class="login">
  <img src="assets/images/secure_login.svg" alt="Registration illustration" class="login__title-image">
  <h2 class="login__page-title">LOGIN</h2>

  <form>
    <input type="text" placeholder="Username" class="input input-bordered w-full max-w-md login__input" />
    <input type="password" placeholder="Password" class="input input-bordered w-full max-w-md login__input" />
    <button class="btn btn-primary login__button" type="button">Login</button>
  </form>

  <a class="link link-accent login__link-not-registered" [routerLink]="['/register']">I'm not registered. Sign up</a>
  <fa-icon [icon]="faBell"></fa-icon>
</div>
