.login {
  margin-top: 32px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  justify-content: center;
  flex-direction: column;

  &__title-image {
    width: 80vw;
  }

  &__page-title {
    font-size: 24px;
    font-weight: 700;
    color: #22577A;
    margin-top: 20px;
  }

  &__input {
    margin-top: 16px;
  }

  &__button {
    margin-top: 16px;
  }

  &__link-not-registered {
    margin-top: 16px;
  }

}

.alert {
  align-items: start;
}
